VulkanCourse\VulkanCourseApp\.vs\*
VulkanCourse\VulkanCourseApp\Debug\*
VulkanCourse\VulkanCourseApp\Release\*
VulkanCourse\VulkanCourseApp\VulkanCourseApp\Debug\*
VulkanCourse\VulkanCourseApp\VulkanCourseApp\Release\*

VulkanCourse\VulkanCourseApp\VulkanCourseApp\VulkanCourseApp.vcxproj.user